body {
 text-align: center; 
}

#terms {
  height: 150px;
  width: 300px;
  font-size: 14pt;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 70px;
  font-weight: normal;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.topnav {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Karla', sans-serif;
}
